h1 {
    position: absolute;
    left: 625px;
    top: 20px;
}
#textbox1{
    position: absolute;
    left: 150px;
    top: 200px;
    width: 200px;
    height: 400px;
}
body { 
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30px 10px; 
}
footer {
	color: red;
    position: absolute;
    left: 450px;
    bottom: 15px;
}